@import "normalize";
@import "layout";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


body{
	font: 400 16px/1.4 "Montserrat", sans-serif;
}



/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 23px;
	max-width: 1100px;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	border-radius: 6px;
	background-color:  #04e4a2;
	width: 166px;
	height: 54px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-family: "Montserrat", sans-serif;
	color:  #f9fbe7;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	float: right;

}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	opacity: 1;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}



.ba-info {
	background: #ef5350;
}

.ba-header {
	background: #E94643;
	padding-top: 23px;
	&:before {
	display: block;
	content: "";
	background-color: #04E4A2;
	height: 22px;
    top: -2px;
    width: 100%;
	}
}

.ba-logo {
	float: left;
}

.ba-contact {
	float: right;
	&__title {
	font-family: Gotham;
	color:  #f9fbe7;
	font-size: 16px;
	font-weight: 300;
	}
}

.ba-info {
	position: relative;
	h2 {
	font-family: "Montserrat", sans-serif;
	color:  #ffffff;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: .03em;
	text-transform: uppercase;
	}
	q, p {
	font-family: "Montserrat", sans-serif;
	color:  #f9fbe8;
	font-size: 18px;
	font-weight: 200;
	}

}

.ba-col-1 {
	position: relative;
	float: left;
	width: 50%;
	margin-right: 137px;
	text-transform: uppercase;
}

.ba-phone {
	position: absolute;
    top: 65px;
}

.ba-col-1 .ba-phone .ba-image__screen {
    position: absolute;
    top: 115px;
    left: 30px;
}

.ba-col-2 {
	float: right;
	width: 50%;
	padding-top: 190px;
	text-transform: uppercase;
}

.ba-form {
	background:  #ffffff;
	float: right;
    width: 50%;
}
